html {
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

body {
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#enter {
    width: 200px;
    height: 100%;
    background: lightseagreen;
    position: absolute;
    left: 0;
}

#end {
    width: 200px;
    height: 100%;
    background: purple;
    position: absolute;
    right: 0;
}

.container {
    width: 100%;
    height: 50%;
    position: flex;
}

.fish {
  position: absolute;
  top: 180px;
  left: 160px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  animation: move-right 8s infinite linear;
  transform: rotate(0deg) translate(0px, 0px) rotate(180deg);
}

.fish:nth-child(1) {
    animation: move-right 6s infinite linear;
}

.fish:nth-child(2) {
    animation: move-right 8.5s infinite linear;
    transform: scale(1.7) rotate(180deg);
}

.fish:nth-child(3) {
    margin-top: 15px;
    animation: move-right 5s infinite linear;
    transform: scale(1.2) rotate(180deg);
}

.fish:nth-child(4) {
    margin-top: 25px;
    animation: move-right 4.4s infinite linear;
    transform: scale(.6) rotate(180deg);
}

.fish:nth-child(5) {
    margin-top: -25px;
    animation: move-right 4.6s infinite linear;
}

.fish:nth-child(6) {
    margin-top: 10px;
    animation: move-right 6.7s infinite linear;
}

.fish:nth-child(7) {
    animation: move-right 6.5s infinite linear;
}

.fish:nth-child(8) {
    animation: move-right 4.2s infinite linear;
}

.body {
  /*position: ;*/
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: 1s wiggle infinite ease-in-out;
          animation: 1s wiggle infinite ease-in-out;
}

.fin {
  position: absolute;
  top: 0;
  left: 50px;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: 1s wobble infinite ease-in-out;
          animation: 1s wobble infinite ease-in-out;
}

@keyframes wiggle {
    0% {
        transform: rotate(7deg);
    }
    50% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(7deg);
    }
}

@keyframes wobble {
    0% {
        -webkit-transform: rotate(-20deg) scale(1.2);
                transform: rotate(-15deg) scale(1.2);
    }
    50% {
        -webkit-transform: rotate(20deg) scale(1.2);
                transform: rotate(15deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(-20deg) scale(1.2);
                transform: rotate(-15deg) scale(1.2);
    }
}

@keyframes move-right {
    from { left: -25%; }
    to { left: 120%; }
}